<link rel="import" href="<%= asset_path 'iron-form/iron-form.html' %>"/>    
<link rel="import" href="<%= asset_path 'paper-input/paper-input.html' %>"/>    
<link rel="import" href="<%= asset_path 'paper-button/paper-button.html' %>"/>
<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <form is="iron-form" id="form" method="post" action="#">
      <paper-input name="name" label="name"></paper-input>
      <paper-button raised onclick="submitForm(event)">Submit</paper-button>
    </form>
  </div>
</div> 


<script type="text/javascript">
    var form = document.getElementById('form')
    function submitForm (e){
      e.preventDefault()
      form.submit()
    }
  
    
    form.addEventListener('iron-form-presubmit', function(){
      console.log("Some Events")
    })
  
</script>