<div class="home">
  <div class="row">
    <div class="small-12 medium-4 large-3 columns">
      <%= render "common/sidebar" %>
    </div>
    <div class="small-12 medium-8 large-9 columns">
      <div id="product-section">
        <!--<div class="products">
          <div class="row">
            <% (1..12).each_with_index do |product,index| %>
              <div class="small-12 medium-4 large-3 columns">
                <div class="each-product clearfix">
                  <img src="http://placehold.it/340x400" class="thumbnail">
                  <a href="">
                    <h5>Product Title</h5>
                  </a> 
                  
                  <div class="success label float-right">$100</div>
                </div>
              </div>
              <% end %>
          </div>
        </div>-->
      </div>
      <hr>
      <!-- Pagination section-->
      <div class="paginations" id="pagination">
        
      </div>
      <!-- eof pagination -->
    </div>
  </div>
</div>