<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">React Store</li>
      <li>
        <a href="#">Category</a>
        <ul class="menu vertical">
          <li><a href="#">Mobile Phones</a></li>
          <li><a href="#">Tablets</a></li>
          <li><a href="#">Laptops</a></li>
        </ul>
      </li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <div id="top-search-bar"></div>
    <div id="cart-details"></div>  
  </div>
</div>