<html>
  <head>
    <title>Admin Dashboard</title>
    <%= javascript_include_tag "admin" %>
    <link rel="import" href="<%= asset_path 'polymer/polymer.html'%>">
  </head>
  <body>
    <%=yield %>
  </body>
</html>